body{
    width: 100vw;
    height: 100vh;
    
}

.main_title{
    border-bottom: 10px;
}

.title_column,.main_title{
    display: flex;
    justify-content: center;
    
    padding: 3px;
    font-size: 20px;
    border-bottom: 2px solid rgba(rgb(0, 0, 0), green, blue, alpha);
    z-index: 1;
    position: relative;
}

.main_title span {
    padding: 10px 150px;
    margin: 100px;
    font-size: 30px;
    color: white;
    border-bottom:3px solid rgba(255, 255, 255, 0.8);
    text-shadow: 3px 7px 16px rgba(255, 255, 255, 0.6);
}
    
.title_column span :hover{
    border-bottom:9px solid rgba(0, 0, 0, 0.2);
}
.title_column h7,h3{
    margin: 20px;
    color: white;
    text-shadow: 3px 7px 16px rgba(255, 255, 255, 0.6);
}

#btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
}
button{
    color: rgb(241, 241, 241);
    background-color: rgba(0, 0, 255,0.7);
    border-radius: 20px;
    width: 200px;
    height: 100px;
    border: none;
    box-shadow: 0 4px 16px rgba(0, 79, 255, 0.4);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    position: relative;
}

button:hover{
    cursor: pointer;
    background-color: rgba(81, 81, 255,0.9);
    box-shadow: 0 6px 20px rgba(0, 79, 255, 0.6);

}
button:focus{
    width: 180px;
    height: 90px;
}

.clock{
    display: flex;
    justify-content: center;
    z-index: 0;
    top:100px;
}
#clock{
    z-index: 1;
    color: white;
    font-size: 40px;
    text-shadow: 3px 7px 16px rgba(255, 255, 255, 0.6);
}

#count_form{
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
}
#count_form h2{
    z-index: 1;
    position: relative;
    color: rgb(255, 199, 79);
    text-shadow: 3px 7px 16px rgba(255, 255, 255, 0.6);
}

.backgroud_img{
    width: 390px;
    height: 844px;
    z-index: 0;
    position: fixed;
}