
.backgroud_img{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    right: 1px;
    bottom: 0.25px;
}

body{
    height: 1000vh;
    position: relative;
    z-index: 1;
}
.welcome{
    display: flex;
    justify-content: center;
}
.welcome_div{
    margin-top: 100px;
    color: white;
    text-shadow: 3px 7px 16px rgba(255, 255, 255, 0.6);
    font-size: 40px;
}
.myInfancy{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: 20px;
}
.myInfancy img{
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
